.scroll {
     /*Set a css background */
    background:url(../img/ft-animated.gif) fixed;
    
    /*Dont mind the rest*/
    position:relative;
    width:100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    
    background-repeat: no-repeat;

    text-align:center;
    color:#fff;
    font-family:'Open Sans' sans-serif;
}
